<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tricolinenandroid2.games"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="tricolinenandroid2.games.Inicio"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="tricolinenandroid2.games.AcercaDe" 
            android:label="acercaDe"
			android:theme="@android:style/Theme.Dialog"
			android:parentActivityName="tricolinenandroid2.games.Inicio">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tricolinenandroid2.games.Inicio"/>              
        </activity>
        
        <activity android:name="tricolinenandroid2.games.UnJugador" 
            android:label="unJugador"
			android:theme="@android:style/Theme.Dialog"
			android:parentActivityName="tricolinenandroid2.games.Inicio">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tricolinenandroid2.games.Inicio"/>          
        </activity>
        <activity android:name="tricolinenandroid2.games.Juego" 
            android:label="@string/TituloJuego"
			android:theme="@android:style/Theme.Dialog"
			android:parentActivityName="tricolinenandroid2.games.Inicio">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tricolinenandroid2.games.Inicio"/>           
        </activity>
        <activity android:name="tricolinenandroid2.games.Puntuacion" 
            android:label="puntuacion"
			android:theme="@android:style/Theme.Dialog"
			android:parentActivityName="tricolinenandroid2.games.Inicio">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tricolinenandroid2.games.Inicio"/>            
        </activity>
        <activity android:name="tricolinenandroid2.games.Menu" 
            android:label="menu"
			android:theme="@android:style/Theme.Dialog"
			android:parentActivityName="tricolinenandroid2.games.Inicio">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tricolinenandroid2.games.Inicio"/>            
        </activity>
    </application>

</manifest>
